.sortable-wrap {
  margin-left: 24rpx;
  margin-bottom: 32rpx;

  .row {
    display: block;
    padding: 20rpx 36rpx;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }

  .sortable-handle {
    cursor: move;
  }

  .sortable-ghost {
    opacity: 0.5;
    background: #c8ebfb;
  }

  .flip-list-move {
    transition: transform 0.5s;
  }
}
